@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: #f7fcf7;
  --foreground: #070707;
  --card: #fff;
  --card-foreground: #070707;
  --popover: #fff;
  --popover-foreground: #070707;
  --primary: #002809;
  --primary-foreground: #fafafa;
  --secondary: #e7f9ec;
  --secondary-foreground: #002809;
  --muted: #ebf7ee;
  --muted-foreground: #56695c;
  --accent: #e7f9ec;
  --accent-foreground: #002809;
  --destructive: #e40014;
  --border: #d8e5dc;
  --input: #d8e5dc;
  --ring: #007e3b;
  --chart-1: #002809;
  --chart-2: #007e3b;
  --chart-3: #005121;
  --chart-4: #53ae77;
  --chart-5: #a7d9b7;
  --radius: 0.75rem;
  --sidebar: #f1f9f3;
  --sidebar-foreground: #070707;
  --sidebar-primary: #002809;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #e7f9ec;
  --sidebar-accent-foreground: #002809;
  --sidebar-border: #d8e5dc;
  --sidebar-ring: #007e3b;
}

.dark {
  --background: #000d02;
  --foreground: #fafafa;
  --card: #011a07;
  --card-foreground: #fafafa;
  --popover: #011a07;
  --popover-foreground: #fafafa;
  --primary: #008940;
  --primary-foreground: #fafafa;
  --secondary: #05270e;
  --secondary-foreground: #fafafa;
  --muted: #05270e;
  --muted-foreground: #86a891;
  --accent: #05270e;
  --accent-foreground: #fafafa;
  --destructive: #ff6568;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #008940;
  --chart-1: #008940;
  --chart-2: #59b47d;
  --chart-3: #94cda7;
  --chart-4: #005423;
  --chart-5: #002809;
  --sidebar: #011a07;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #008940;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #05270e;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #008940;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}